<div class="modal-ajax-content">
  <% @top_three.each do |book| %>
    <div class="scrape-result-card">
      <div class="scrape-cover">
        <% if book[:cover_url] == "https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/nophoto/book/111x148._SX50_.png" %>
          <%= image_tag 'http://via.placeholder.com/45x75' %>
        <% else %>
          <%= image_tag book[:cover_url] %>
        <% end %>
      </div>
      <div class="scrape-details">
        <%= link_to fetch_book_path(book: book), method: :post do %>
          <h3><%= book[:title] %></h3>
        <% end %>
        <p>by <%= book[:author] %></p>
      </div>
    </div>
  <% end %>
</div>
