
<%= simple_form_for @book, url: user_books_path, method: :post do |f| %>
  <%= f.association :authors, label_method: :full_name, input_html: { class: 'select2' } %>

  <p class="btn btn-bookplated" data-toggle="modal" data-target="#new-author-modal">New Author</p>

  <%= f.input :title %>
  <%= f.input :year_published %>
  <%= f.input :pages %>
  <%= f.input :isbn %>

  <%= f.input :photo,
              input_html:
                { class: 'hidden',
                  id: 'photo-input'
                },
              label_html:
                { class: 'upload-photo'},
              label: 'Upload a photo' %>




  <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.button :submit, "Add Book", class: 'btn btn-bookplated' %>
<% end %>

  <%= render 'shared/modal'%>
