<div class="container">
  <div class="book-details">
    <div class="book-cover">
      <%= image_tag photo_or_placeholder(@book), class: 'book-cover' %>
    </div>
    <div class="book-info">
      <h1>
        <%= @book.title %>
        <%= link_to edit_user_book_path(current_user, @book) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </h1>

      <p>by <%= @book.authors.first.full_name %></p>
      <p><%= @book.pages %> pages, published in <%= @book.year_published %></p>
      <p>Finished reading on: </p>

    </div>
  </div>
  <div class="quote-section">
    <h4>Quotes</h4>

    <p class="italic">You don't have any quotes yet!</p>

  </div>
  <div class="note-section">
    <h4>Notes</h4>

    <p class="italic">You don't have any notes yet!</p>

  </div>


</div>
