<div class="container show-container">
  <div class="book-details">
    <div class="book-cover-container">
      <% if @book.cover.nil? %>
        <%= image_tag photo_or_placeholder(@book), class: 'book-cover' %>
      <% else %>
        <%= image_tag(@book.cover, class: 'book_cover', height: "200px")  %>
      <% end %>
      <span class="edit-cover" data-toggle="modal" data-target="#edit-cover-modal">edit</span>
      <%= render 'books/edit_cover_modal', book: @book %>

    </div>
    <div class="book-info">
      <div class="title-author">
        <h1><%= @book.title %></h1>
        <p>by
          <%= link_to @book.authors.first, class: 'link' do %>
            <%= @book.authors.first.full_name %>
          <% end %>
        </p>
      </div>

      <div class="book-stats">
        <table>
          <tr>
            <th>Published</th>
            <th>Pages</th>
            <th>Read</th>
            <th>Own</th>
          </tr>
          <tr>
            <!-- Y E A R   P U B L I S H E D -->
            <td class="book-info-stat">
              <%= @book.year_published if @book.year_published %>
            </td>

            <!-- N U M    P A G E S  -->
            <td class="book-info-stat">
              <%= @book.pages if @book.pages %>
            </td>

            <!-- D A T E    R E A D  -->
            <td class="book-info-stat <% if @users_book.date_read %>read<% else %>unread<% end %>">
              <% if @users_book.date_read.nil? %>
                unread
              <% else %>
                <%= Time.at(@users_book.date_read).strftime("%d %B, %Y") %>
              <% end %>
            </td>

            <!-- O W N E D    S T A T U S -->
            <td class="book-info-stat <% if @users_book.owned %>owned<% else %>unowned<% end %>">
              <% if @users_book.owned.nil? %>
                don't own
              <% else %>
                own
              <% end %>
            </td>

          </tr>
        </table>
      </div>


    </div>
  </div>


  <!-- Classic tabs -->
  <div class="classic-tabs quotes-and-notes">

    <ul class="nav" id="myClassicTabShadow" role="tablist">
      <li class="nav-item">
        <a class="nav-link active show" id="profile-tab-classic-shadow" data-toggle="tab" href="#profile-classic-shadow"
          role="tab" aria-controls="profile-classic-shadow" aria-selected="true">
          <h4>
            Quotes
            <i class="fas fa-plus" data-toggle="modal" data-target="#new-quote-modal"></i>
            <%= render 'quotes/quotes_modal', users_book: @users_book %>
          </h4>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="notes-tab-classic-shadow" data-toggle="tab" href="#notes-classic-shadow"
          role="tab" aria-controls="notes-classic-shadow" aria-selected="false">
          <h4>
            Notes
            <i class="fas fa-plus" id="notes-tab-plus" data-toggle="modal" data-target="#new-note-modal"></i>
            <%= render 'notes/notes_modal', users_book: @users_book %>
          </h4>
        </a>
      </li>
    </ul>

    <div class="tab-content card" id="myClassicTabContentShadow">
      <div class="tab-pane fade active show" id="profile-classic-shadow" role="tabpanel" aria-labelledby="profile-tab-classic-shadow">

        <div class="quotes-or-notes">
          <% if @users_book.quotes.empty? %>
            <p class="italic">You don't have any quotes yet!</p>
          <% else %>
            <% @users_book.quotes.reverse.each do |quote| %>
              <div class="quote-card">
                <p><span class="quote-text">"<%= quote.quote_text %>"</span> - <span class="page-num"><% if quote.page_num %>page <%= quote.page_num %><% end %></span></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="notes-classic-shadow" role="tabpanel" aria-labelledby="notes-tab-classic-shadow">

        <div class="quotes-or-notes">

          <% if @users_book.notes.empty? %>
            <p class="italic">You don't have any notes yet!</p>
          <% else %>
            <% @users_book.notes.reverse.each do |note| %>
              <p><span class="quote-text"><%= sanitize note.note_text %></span></p>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>

  </div>
  <!-- Classic tabs -->



</div>
